/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Quicksand&family=Roboto:wght@400;500;700&display=swap');
html, body { height: 100%; }
*{
  box-sizing: border-box;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* font-family: 'Kaushan Script', cursive;
font-family: 'Quicksand', sans-serif; */

/* .color{
  color: #370617;
  color: #003049;
  color: #3d405b;
  color: #264653;
  color: #f4f1de;
  color: #eae2b7;
  color: #f2cc8f;
  color: #e9c46a;
  color: #fcbf49;
  color: #f4a261;
  color: #e07a5f;
  color: #e76f51;
  color: #d62828;
  color: #f77f00;
  color: #2a9d8f;
  color: #81b29a;
  color: #F6B9B8;
  color: #C7EAE4;
} */
